# Importing Modules and CSV files

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
world_population_data=pd.read_csv("./Resources/World_Population.csv")
Country_population_data=pd.read_csv("./Resources/Country_Population.csv")

In [3]:
world_population_data

,Rank,Country,Region,Population,Percentage,Date
0,1,China,Asia,1411778724,17.80%,2022-11-20
1,2,India,Asia,1386141732,17.50%,2022-12-21
2,3,United States,Americas,332960297,4.20%,2022-12-21
3,4,Indonesia,Asia,271350000,3.43%,2022-12-20
4,5,Pakistan,Asia,225200000,2.84%,2022-07-21
...,...,...,...,...,...,...
236,237,Niue(NewZealand),Oceania,1549,0%,2022-07-21
237,238,Tokelau(NewZealand),Oceania,1501,0%,2022-07-21
238,239,VaticanCity,Europe,825,0%,2022-02-19
239,240,Cocos(Keeling)Islands(Australia),Oceania,573,0%,2022-06-20
240,241,PitcairnIslands(United Kingdom),Oceania,40,0%,2022-01-21

In [4]:
Country_population_data

         Country Population (2020) Land Area (Km²) Density (P/Km²)
0    Afghanistan        38,041,750         652,230           56.94
1        Albania         2,854,190          28,748          104.61
2        Algeria        43,053,050       2,381,740           17.73
3        Andorra            77,140             468          163.84
4         Angola        31,825,290       1,246,700           24.71
..           ...               ...             ...             ...
190    Venezuela        28,515,830         912,050           32.73
191      Vietnam        96,462,110         331,210          308.13
192        Yemen        29,161,920         527,968           53.98
193       Zambia        17,861,030         752,618           23.34
194     Zimbabwe        14,645,470         390,757           37.32

[195 rows x 4 columns]

# Data Cleaning

In [5]:
Country_population_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            195 non-null    object
 1   Population (2020)  195 non-null    object
 2   Land Area (Km²)    195 non-null    object
 3   Density (P/Km²)    195 non-null    object
dtypes: object(4)
memory usage: 6.2+ KB

In [6]:
world_population_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        241 non-null    int64
 1   Country     241 non-null    object
 2   Region      241 non-null    object
 3   Population  241 non-null    int64
 4   Percentage  241 non-null    object
 5   Date        241 non-null    object
dtypes: int64(2), object(4)
memory usage: 11.4+ KB

In [7]:
world_population_data.drop("Rank",inplace=True,axis=1)

In [8]:
Country_population_data.drop("Population (2020)",inplace=True,axis=1)

# Create Database Connection

In [32]:
protocol="postgresql"
username="postgres"
password="#Kazek220"
host="localhost"
port=5432
database_name=""
connection_string=f"{protocol}://{username}:{password}@{host}:{port}/{database_name}"

In [33]:
# Confirm tables
engine=create_engine(connection_string)
engine.table_names()

C:\Users\kazek\AppData\Local\Temp\ipykernel_29196\845267981.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]